global !p
def to_camel_case(str):
	return str.lower().replace(' ', '_')
endglobal

snippet chapter "Chapter" b
\chapter{${1:Chapter name}}
\label{cha:`!p snip.rv = to_camel_case(t[1])`}
endsnippet

snippet section "Section" b
\section{${1:Section name}}
\label{sec:`!p snip.rv = to_camel_case(t[1])`}
endsnippet

snippet subsection "Subsection" b
\subsection{${1:Subsection name}}
\label{sub:`!p snip.rv = to_camel_case(t[1])`}
endsnippet

snippet subsubsection "Subsubsection" b
\subsubsection{${1:Subsubsection name}}
\label{ssub:`!p snip.rv = to_camel_case(t[1])`}
endsnippet

snippet paragraph "Paragraph" b
\paragraph{${1:Paragraph name}}
\label{par:`!p snip.rv = to_camel_case(t[1])`}
endsnippet

snippet figure "Figure" b
\begin{figure}[htbp]
	\begin{center}
		\includegraphics[width=${1:1.0}\linewidth]{${2:name.ext}}
	\end{center}
	\caption{%
	${3}\label{fig:${4}}
	}
\end{figure}
endsnippet

snippet table "Table" b
\begin{table}[htbp]
	\begin{center}
		\begin{tabular}{${1:lc}}
			\toprule
			$0
			\bottomrule
		\end{tabular}
	\end{center}
	\caption{%
	${2}\label{tab:${3}}
	}
\end{table}
endsnippet

snippet label
\label{${VISUAL}$1}
endsnippet

snippet usepackage
\usepackage{${VISUAL}$1}
endsnippet

snippet item
\item $0
endsnippet

snippet itemize
\begin{itemize}
	${VISUAL}\item $1
\end{itemize}
endsnippet

snippet enumerate
\begin{enumerate}
	${VISUAL}\item $1
\end{enumerate}
endsnippet

snippet todo
\todo{${VISUAL}$1}
endsnippet

snippet emph
\emph{${VISUAL}$1}
endsnippet

snippet textbf
\textbf{${VISUAL}$1}
endsnippet

snippet texttt
\texttt{${VISUAL}$1}
endsnippet

snippet enquote
\enquote{${VISUAL}$1}
endsnippet

snippet gls
\gls{${VISUAL}$1}
endsnippet

snippet overline
\overline{${VISUAL}$1}
endsnippet

snippet underline
\underline{${VISUAL}$1}
endsnippet

snippet cite
\cite{${VISUAL}$1}
endsnippet

snippet equation
\begin{equation}
	${VISUAL}$1
\end{equation}
endsnippet

snippet equation*
\begin{equation*}
	${VISUAL}$1
\end{equation*}
endsnippet

snippet cases
\begin{cases}
	${VISUAL}$1
\end{cases}
endsnippet

snippet begin
\begin{$1}
	${VISUAL}$2
\end{$1}
endsnippet

snippet mbox
\mbox{${VISUAL}$1}
endsnippet

snippet newglosssaryentry
\newglossaryentry{${1:Id}}{name={\ensuremath{${2:Symbol}}}, description={${3:Description}}}
endsnippet
